@import url('https://fonts.googleapis.com/css?family=Lato|Sofia|Montserrat|Open+Sans|Oswald|Raleway|Roboto|Roboto+Condensed|Source+Sans+Pro&display=swap');
html, body {
    background:none;
    padding: none;
    margin: none;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 14px;
    height: 100%;
    font-family: 'Lato', sans-serif;  /* Use Lato font from Google Fonts */
    background-color: #f4f4f4;
}
/* Custom Scrollbar */
*{
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 10px;
} 
*::-webkit-scrollbar-track {
    background: #DCDCDC;
} 
*::-webkit-scrollbar-thumb {
    background-color:  #aaa;
    border-radius: 8px;
} 
*::-webkit-scrollbar-thumb:hover {
    background-color: #505050;
    border-radius: 8px;
}  
.card {
    border-radius: o;
    -webkit-border-radius: 0;
}
.text-primary {
    color: #002984;
}
.stormsBtn .btn{
    border-radius: 0 !important;
    border: 0 !important;
}
.btn{
    border-radius: 0 !important;
}

/* Date Panel CSS */
.dateCard {
    max-width: 350px;
    position: absolute;
    /* top: 0;
    right: 0; */
    z-index: 1;
}
#calendar {
    gap: 8px;
}

.date-item {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  /* Makes dates circles */
    transition: all 0.3s ease;
}

.date-item.clickable {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}
.date-item.clickable:hover {
    transform: scale(1.05);
}
.date-item.active {
    background-color: red;
    color: white;
}

 /* Container for the image and text */
 .banner {
    position: relative;
    width: 100%;
}

/* Style for the image */
.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* Style for the overlay text */
.banner .overlay-text {
    position: absolute;
    top: 50%; /* Adjust to vertically center the text */
    left: 50%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
}