{% extends "base.html" %}
{% load static %}

{% block container %}

{% include 'navigation.html' %}

<div class="banner">
    <img src="/static/img/banner-home.jpg" width="100%" alt="banner">
    <div class="overlay-text">
        <h2 class="fw-bold">MEKONG FLASH FLOOD GUIDANCE SYSTEM</h2>
    </div>
</div>

<div class="footer bg-secondary mt-5">
    <div class="text-center py-4 text-white">
        &copy; 2023 MRC | SERVIR SEA | ADPC. All Rights Reserved.
    </div>
</div>

{% endblock container %}