{% load static %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div style="display:flex; justify-content: flex-start;">
            <img src="https://s3.amazonaws.com/images.wpr.com/flag-pages/png250/vn.png" width="160px" alt="">
            <h1 class="fw-bold pt-3 ps-4"><span class="text-primary">THE DETAILED INFORMATION FOR FLASH FLOOD WARNING </span><br> VIET NAM</h1>
        </div>
        <!-- Table for 06 hours -->
        <table class="table table-responsive table-hover mt-5 text-center" id="VNMTable6hrs">
            <thead class="table-secondary">
                <tr>
                    <th colspan="9" class="fs-4 fw-bold text-center border-top-1">FLASH FLOOD ALERT IN THE NEXT 06 HOURS</th>
                </tr>
                <tr>
                    <th rowspan="2" class="align-middle">Provinces</th>
                    <th rowspan="2" class="align-middle">Districts</th>
                    <th rowspan="2" class="align-middle">Level</th>
                    <th colspan="2">Social vulnerability</th>
                    <th colspan="2">Physical vulnerability</th>
                    <th colspan="2">Economic vulnerability</th>
                </tr>
                <tr>
                    <th>Female population</th>
                    <th>Male population</th>
                    <th>Road</th>
                    <th>Hospital</th>
                    <th>Gross Domestic Product (GDP)</th>
                    <th>Crop lands</th>
                </tr>
            </thead>
        </table>

         <!-- Table for 12 hours -->
         <table class="table table-responsive table-hover mt-5 text-center" id="VNMTable12hrs">
            <thead class="table-primary">
                <tr>
                    <th colspan="9" class="fs-4 fw-bold text-center border-top-1">FLASH FLOOD RISK IN THE NEXT 12 HOURS</th>
                </tr>
                <tr>
                    <th rowspan="2" class="align-middle">Provinces</th>
                    <th rowspan="2" class="align-middle">Districts</th>
                    <th rowspan="2" class="align-middle">Level</th>
                    <th colspan="2">Social vulnerability</th>
                    <th colspan="2">Physical vulnerability</th>
                    <th colspan="2">Economic vulnerability</th>
                </tr>
                <tr>
                    <th>Female population</th>
                    <th>Male population</th>
                    <th>Road</th>
                    <th>Hospital</th>
                    <th>Gross Domestic Product (GDP)</th>
                    <th>Crop lands</th>
                </tr>
            </thead>
        </table>

        <!-- Table for 24 hours -->
        <table class="table table-responsive table-hover mt-5 text-center" id="VNMTable24hrs">
            <thead class="table-warning">
                <tr>
                    <th colspan="9" class="fs-4 fw-bold text-center border-top-1">FLASH FLOOD RISK IN THE NEXT 24 HOURS</th>
                </tr>
                <tr>
                    <th rowspan="2" class="align-middle">Provinces</th>
                    <th rowspan="2" class="align-middle">Districts</th>
                    <th rowspan="2" class="align-middle">Level</th>
                    <th colspan="2">Social vulnerability</th>
                    <th colspan="2">Physical vulnerability</th>
                    <th colspan="2">Economic vulnerability</th>
                </tr>
                <tr>
                    <th>Female population</th>
                    <th>Male population</th>
                    <th>Road</th>
                    <th>Hospital</th>
                    <th>Gross Domestic Product (GDP)</th>
                    <th>Crop lands</th>
                </tr>
            </thead>
        </table>
    </div>
</div>